:root {
  --transition: all 0.3s ease;
  --mainColor: #112;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(135deg, #112, #31326b);
  color: #fff;
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
}

header {
  font-size: 1.5rem;
}

header,
form {
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 2rem;
}

form input,
form button {
  padding: 0.5rem;
  font-size: 2rem;
  border: none;
  background: white;
}

form button {
  color: var(--mainColor);
  background: #fff;
  cursor: pointer;
  transition: var(--transition);
}

form button:hover {
  background: var(--mainColor);
  color: #fff;
}

.todo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-list {
  min-width: 30%;
  list-style: none;
}

.todo {
  margin: 0.5rem;
  background: #fff;
  color: #000;
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: var(--transition);
}

.todo li {
  flex: 1;
}

.trash-button,
.completed-button {
  background: var(--mainColor);
  color: #fff;
  border: none;
  padding: 1rem;
  cursor: pointer;
  font-size: 1rem;
}

.completed-button {
  background: #316b4d;
}

.todo-item {
  padding: 0rem 0.5rem;
}

.fa-trash,
.fa-check {
  pointer-events: none;
}

.completed {
  text-decoration: line-through;
  opacity: 0.5;
}

.slide {
  transform: translateX(20rem);
  opacity: 0;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  border: none;
}

.select {
  margin: 1rem;
  position: relative;
  overflow: hidden;
}

select {
  color: var(--mainColor);
  width: 10rem;
  cursor: pointer;
  padding: 1.2rem;
}

.select::after {
  content: "\25BC";
  position: absolute;
  background: var(--mainColor);
  top: 0;
  right: 0;
  padding: 1rem;
  pointer-events: none;
  transition: var(--transition);
}

.select:hover::after {
  background: #fff;
  color: var(--mainColor);
}

@media screen and (max-width: 768px) {
  .select {
    margin: 0;
  }

  select {
    display: none;
  }
}

@media screen and (max-width: 480px) {
  form input,
  form button {
    font-size: 1rem;
  }

  .todo {
    font-size: 1rem;
  }
}
